/*CSS index.html*/
body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#FEFEFE, #888888);
}

header{
    /*background-color: #BBBBBB;*/
    padding: 2% 0;
}

.caja_logo{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

/* Titulo*/
.titulo{
    font-weight: bold;
    display: inline;
    text-align: center;
    padding: 10px 10px;
    position: absolute;
    top: 20px;
    right: 1%;
    font-size: 25px;
}

ul{
    padding: 50px;
}

.bloque_1{
    display: inline-block;
    border: none;
    margin: 0 1%;
    width: 50%;
    vertical-align: top;
}

/*Caja de texto*/
.input-text{
    display: block;
    width: 65%;
    height: 100px;
    font-size: 32px;
    border: none;
    padding: 40px;
    margin: 10% auto; 
    color: #0A3871;
    outline: none;   
    background: inherit;
}

.terminos{
    text-align: center;
}

/*Botón encriptar*/
.encriptar{
    /*width: 250px;*/
    width: 40%;
    height: 60px;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    background: #0A3871;
    font-weight: bold;
    color: white;
    margin: 20px 20px;
    transition: 1s all;
}

.encriptar:hover,
.desencriptar:hover{
    /*margin: 0.3%;*/
    transform: scale(1.1);
    cursor: pointer;
}

/*Botón desencriptar*/
.desencriptar{
    /*width: 250px;*/
    width: 40%;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid #0a3871;
    margin: 20px 20px;
    transition: 1s all;

}

.bloque_2{
    width: 40%;
    height: 100%;
    display: inline-block;
    border: none;   
    margin: 0 1%;
    vertical-align: top;
    border-radius: 20px;
    box-shadow: 10px 24px 32px 8px rgba(0, 0, 0, 0.08);
}

/*Ventana resultado texto*/
.out-text{
    display: block;
    width: 75%;
    height: 80px;
    font-size: 32px;
    padding: 30px;
    margin: 2% auto 0 auto;  
    outline: none; 
    border: none;
    color: #0A3871; 
    background: inherit;
}

.interior_bloque_2{
    display: block;
    width: 350px;
    margin: 2% auto 0 auto;
    padding: 2%;
}

.interior_bloque_2 h2{
    width: 60%;
    text-align: center;
    font-size: 24px;
    margin: 5% auto 2% auto;  
    color: #343a40;  
    font-weight: 600;
}

.interior_bloque_2 p{
    text-align: center;
    font-size: 16px;
    margin: 2% auto 2% auto;
    width: 85%;
}

.interior_bloque_2 img{
    width: 80%;
    padding: 0 10% 0 10%;
    height: 300px;
}

.copiar{
    width: 60%;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid #0a3871;
    margin: 5% auto 0 auto;
    transition: 1s all;
}

.copiar:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.footer_container{
   /* background-color: #BBBBBB;*/
    /*margin-top: 150px;*/
    padding: 35px;
    height: 167px;
    text-align: center;
}

.footer_container p{
    margin: 20px;
    font-size: 20px;
}

.footer_social_media{
    padding: 3%;
    display: block;
}


.social_media_item{
    width: 40px;
    height: 40px;
    margin: 0 5%;
    display: inline-block;
}

.logo_github{
    width: 200%;
}

.logo_linkedin{
    width: 100%;
}



/*Test responsive*/

@media screen and (max-width:480px){
    .bloque_1, .bloque_2{
        width: auto;
    }

    .input-text{
        width: auto;
    }

    .caja_logo{
        position: static;
    }
}